{% load static %}
<html>
<head>
    <title>WEBSHOP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{% static  'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{% static  'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static  'js/jquery-1.11.1.min.js' %}"></script>
    <!-- start menu -->
    <link href="{% static  'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static  'js/megamenu.js' %}"></script>
    <script>$(document).ready(function () {
            $(".megamenu").megamenu();
        });</script>
    <script src="{% static  'js/jquery.easydropdown.js' %}"></script>
    <script src="{% static  'js/easyResponsiveTabs.js'%}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
</head>
<body>
<div class="men_banner">
    <div class="container">
        <div class="header_top">
            <div class="header_top_left">
                <ul class="header_user_info">
                    <a class="login" href="#">
                        <i class="user"> </i>
                        <li class="user_desc">My Account</li>

                    </a>


                </ul>

            </div>

            <div class="header_top_right">
                <div id="sb-search" class="sb-search">
                    <form method="get" action="#" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="header_bottom">
                <div class="logo">
                    <h1><a href="{% url 'index' %}"><span class="m_1">W</span>EBSHOP</a></h1>
                </div>
                <div class="menu">
                    <ul class="megamenu skyblue">
                        <li><a class="color2" href="#">Products</a>
                            <div class="megapanel">
                                <div class="row">
                                    <!--<div class="col1">
                                        <!--<div class="h_nav">
                                            <h4>Nieuw</h4>
                                            <ul>
                                                <li><a href="">Computers</a></li>
                                                <li><a href="">Laptops</a></li>
                                                <li><a href="">Monitors</a></li>

                                            </ul>
                                        </div>-->
                                    <!--</div>-->
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Categories</h4>
                                            <ul>

                                                {% for categorie in menu_list %}
                                                    <li>
                                                        <a href="{% url 'categorie' categorie_id=categorie.id %}">{{ categorie.name }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="h_nav">
                                            <!--<ul>
                                                <li class>
                                                    <div class="p_left">
                                                        <img src="images/p1.jpg" class="img-responsive" alt=""/>
                                                    </div>
                                                    <div class="p_right">
                                                        <h4><a href="#">Denim shirt</a></h4>
                                                        <span class="item-cat"><small><a
                                                                        href="#">watches</a></small></span>
                                                        <span class="price">29.99 $</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                            </ul>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li><a class="color10" href="#">Brands</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Brands</h4>
                                            <ul>
                                                {% for brand in brand_list %}
                                                    <li>
                                                        <a href="{% url 'merken' merk_id=brand.id %}">{{ brand.name }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a class="color2" href="{% url 'winkelmand' %}" color="black">Shopping Cart</a>
                            <!--<li class="active grid"><a class="color3" href="index.html">Sale</a></li>
                            <li><a class="color7" href="404.html">News</a></li>-->
                            <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<?php
    <div class="men">
        <div class="container">
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Producten winkelmand</h3>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="Id" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Naam" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Merk" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Prijs" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Verwijderen" disabled></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in producten %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.merk.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <a href="#">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="footer">
    <div class="container">
        <div class="cssmenu">
            <ul>
                <li class="active"><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <ul class="social">
            <li><a href=""> <i class="instagram"> </i> </a></li>
            <li><a href=""><i class="fb"> </i> </a></li>
            <li><a href=""><i class="tw"> </i> </a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="copy">
            <p> &copy; 2015 Watches. All Rights Reserved | Design by <a href="http://w3layouts.com/"
                                                                        target="_blank">W3layouts</a></p>
        </div>
    </div>
</div>
</body>
</html>